.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  font-family: "Pacifico", sans-serif;
  margin: 0;
  padding: 0;
}

#title {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #F46C8C;
  border-bottom: 1px solid #ddd;
  
}

#title h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #FEFEFA;
  text-shadow: 2px 1px black, 3px 2px black, 4px 4px black;
  margin: 0;
  margin-right: 10px;
}

#title img {
  max-width: 100px; /* Adjust the maximum width of the logo as needed */
  height: auto;
  margin-left: 70%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px black;
}

#navbar > a {  
  color: black;
  margin-top: 20px;
  font-size: 18px;
}

.hidden {
  display: none;
  opacity: 0;
}

.content {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  width: fit-content;
  padding: 20px;
  margin-top: 5%;
  border: 3px solid black;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color:#F46C8C;
}

.content > .material-symbols-outlined {
  font-size: 30px;
  background-color: white;
  border-radius: 100px;
}

.info {
  font-family: sans-serif;
  font-size: large;
  color: black;
}

#login {
  display: flex;
  margin-left: 50%;
  margin-top: 10%;
  align-items: start;
  justify-content: start;
  border-radius: 30px;
}

form {
  position: relative;
  margin-left: -140px;
  width: fit-content;
  height: fit-content;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#sanrio-container {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 100px;
  
}

.sanrio > img {
  max-width: 200px;
  max-height: 200px;
  margin: 25px;
  justify-content: space-around;
  box-shadow: 0 0 25px #eea1b3;
}

.sanrio {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sanrio > p {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin-left: 75px;
}

.sanrio:hover, #submit {
  cursor: pointer;
}
